.App {
  text-align: center;
}

.container {
  text-align: center;
  background-color: antiquewhite;
  height: 200px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 20px;
}
.outputContainer {
  margin-top: 30px;
}
