
<table class="table" >
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Body</th>
        <th>UserId</th>
    </tr>
    <tr *ngFor="let post of posts">
        <td>{{post.id}}</td>
        <td>{{post.title}}</td>
        <td>{{post.body}}</td>
        <td>{{post.userId}}</td>
    </tr>
</table>

