<p></p>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Date Of Birth</th>
    </tr>

    <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.birthDate.getDate()}}/{{user.birthDate.getMonth()}}/{{user.birthDate.getFullYear()}}</td>
    </tr>

</table>